<%- include('../includes/header') %>

<body>

<div class="theme-loader">
    <div class="loader-track">
        <div class="preloader-wrapper">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <%- include('../includes/top') %>
    
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <%- include('../includes/nav') %>


                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Área Administrativa</h5>
                                        <p class="m-b-0">Seja bem vindo </p>
                                    </div>                                
                                </div> 
                                <div class="col-md-6">
                                    <%- include('../includes/messeges') %>
                                </div>                              
                            </div>
                        </div>
                    </div>


                    
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="form-group row">
                                                        <div class="col-sm-10">
                                                         <h5>Novo lançamento</h5>     
                                                        </div>      
                                                        <div class="col-sm-2">
                                                         <a href="/lancamento/index" type="submit" class="btn waves-effect waves-light btn-primary btn-square">Voltar</a>
                                                        </div>                                             
                                                     </div>
                                                    
                                                </div>
                                                <div class="card-block">
                                                    <form action="/lancamento/lancamento" method="post">
                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                                        <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                <label>Data</label>
                                                                <input type="date" class="form-control" name="data"
                                                                placeholder="data">
                                                            </div>
                                                            <div class="col-sm-6">                                                                
                                                                <div class="form-group col-md-12">
                                                                    <label>Tipo</label>
                                                                    <select id="tipo" class="form-control" name="tipo">
                                                                     <option selected disabled>Seleciona 1 tipo</option>
                                                                      <option value="receita">Receita</option>
                                                                      <option value="despesa">Despesas</option>
                                                                    </select>
                                                                  </div>                                                                
                                                            </div>                                                 
                                                        </div> 
                                                        <div class="form-group row">                                                          
                                                            <div class="col-sm-6">
                                                                <label>Descrição</label>
                                                                <input type="text" class="form-control" name="descricao"
                                                                placeholder="descricao">
                                                            </div>
                                                            <div class="col-sm-6" id="despesa">                                                                
                                                                <div class="form-group col-md-12">
                                                                    <label>Despesa</label>
                                                                    <select class="form-control" name="despesa_id">
                                                                     <option selected disabled>Seleciona uma despesa</option>
                                                                     <% despesa.forEach(element => { %>                                                                   
                                                                      <option value="<%= element.id %>"><%= element.despesa %></option>
                                                                      <%}) %> 
                                                                    </select>
                                                                  </div>                                                                
                                                            </div>
                                                            <div class="col-sm-6" id="receita" style="display: none;">                                                                
                                                                <div class="form-group col-md-12">
                                                                    <label>Receita</label>
                                                                    <select class="form-control" name="receita_id">
                                                                     <option selected disabled>Seleciona uma Receita</option>
                                                                     <% receita.forEach(element => { %>     
                                                                      <option value="<%= element.id %>"><%= element.receita %></option>
                                                                      <%}) %> 
                                                                    </select>
                                                                  </div>                                                                
                                                            </div>
                                                        </div> 
                                                        <div class="form-group row">
                                                            <div class="col-sm-6">
                                                                <label>Valor</label>
                                                                <input type="text" placeholder="valor" class="form-control" name="valor" id="moeda" >
                                                              
                                                            </div>       
                                                            <div class="col-sm-6" >                                                                
                                                                <div class="form-group col-md-12">
                                                                    <label>Pagamento</label>
                                                                    <select class="form-control" name="pagamento_id" id="pagamento_id">
                                                                     <option selected disabled>Seleciona uma forma de pagamento</option>
                                                                     <% banco.forEach(element => { %>     
                                                                      <option value="<%= element.id %>"><%= element.banco %></option>
                                                                      <%}) %> 
                                                                    </select>
                                                                  </div>                                                                
                                                            </div>                                                     
                                                        </div> 
                                                        <button type="submit" class="btn waves-effect waves-light btn-primary btn-square">Salvar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="styleSelector">
                
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer') %>
<script>

$("#tipo").on('change', function(e){
  var a = $(this).val();
    if(a == 'receita'){
        document.getElementById('receita').style.display = 'block';
        document.getElementById('despesa').style.display = 'none';             
    }else{
        document.getElementById('receita').style.display = 'none';
        document.getElementById('despesa').style.display = 'block';    
    }
});    
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
<script>
  $(function() {
  $('#moeda').maskMoney({ decimal: '.', thousands: '', precision: 2 });
})
</script>

</body>

</html>
