<%- include('../includes/header') %>

<body>

<div class="theme-loader">
    <div class="loader-track">
        <div class="preloader-wrapper">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <%- include('../includes/top') %>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <%- include('../includes/nav') %>


                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Área Administrativa</h5>
                                        <p class="m-b-0">Seja bem vindo </p>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div> 
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <!-- SITE VISIT CHART start -->
                                            <div class="col-md-12 col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5> Relatório - Lançamentos por Meses</h5>                            
                                                    </div>                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5> 2022</h5>                                              
                                                    </div>                                                    
                                                </div>
                                            </div>


                                            <div class="card-block">
                                                <form action="/relatorio/relatorio_meses" method="post">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                                    <div class="form-group row">
                                                        <div class="col-sm-8">                                                         
                                                            <input  class="form-control" type="month" name="data" placeholder="Escolha um ano"/> 
                                                        </div>      
                                                        <button type="submit" class="btn waves-effect waves-light btn-primary btn-square">Pesquisar</button>                                                  
                                                    </div>    
                                                  
                                                      
                                                                                                                                        
                                                   
                                                </form>
                                            </div>
                                         
                                        
                                           

                                            <div class="col-lg-12">
                                                <div class="card">                                                
                                                    <div class="card-block accordion-block color-accordion-block">
                                                        <div class="color-accordion" id="color-accordion">
                                                            <a style="color:#fff; font-size: 0.875em;" class="accordion-msg b-none  waves-light btn btn-primary">RESUMO GERAL DA DATA <%= mes %>/<%= ano %>  </a>
                                                            <div class="accordion-desc">

                                                            
                                                                <div class="row">
                                                                <div class="col-xl-6 col-md-6">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h5>Despesas</h5>
                                                                            <% relatorio.forEach(element => { %>    
                                                                            <span class="text-muted">  <%= element.despesa  %> R$:  <%= element.valor  %></span>  
                                                                            <% }) %>                                                                          
                                                                             </div>                                                                       
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-6 col-md-6">
                                                                    <div class="card">
                                                                        <div class="card-header">
                                                                            <h5>Rceitas</h5>
                                                                            <% relatorio_receita.forEach(element => { %>    
                                                                            <span class="text-muted">  <%= element.receita  %> R$:  <%= element.valor  %></span>  
                                                                            <% }) %>                                                                          
                                                                             </div>                                                                       
                                                                    </div>
                                                                </div>
                                                            </div>
                                                              








                                                                <table class="table datatable" >                                                                    
                                                                    <thead>                                                      
                                                                        <tr>                                                                      
                                                                            <th scope="col">( + ) Total de receitas: <span style="color:blue" >R$: <%= receita[0].valor %>  </span></th>                                                                           
                                                                        </tr>     
                                                                        <tr> 
                                                                            <th scope="col">( - ) Total de despesas: <span style="color:red" >R$: <%= despesa[0].valor %></span></th>  
                                                                        </tr>    
                                                                        <tr>                                                     
                                                                            <th scope="col">( = ) Saldo (receitas - despesas): <span style="color:rgb(7, 63, 51)" >R$: <%= (receita[0].valor - despesa[0].valor).toLocaleString('pt-BR', { minimumFractionDigits: 2});  %> </span></th> 
                                                                        </tr>                                                                                                                                    
                                                                    </thead>
                                                                </table>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">

                            </div>
                        </div> 
                    </div>
                </div>
                <div id="styleSelector">
                
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer') %>



</body>

</html>
